@font-face {
    font-family: "iconfont";
    /* Project id 4686366 */
    src: url('../font/iconfont.woff2?t=t=1726648074287') format('woff2'),
        url('./font/iconfont.woff?t=t=1726648074287') format('woff'),
        url('./font/iconfont.ttf?t=t=1726648074287') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 快捷导航模块开始 */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut .hl {
    float: left;
    font: normal 400 12px/31px "SimSun";
    color: #666666
}

.shortcut .hl a {
    color: #666666
}

.hl a:last-child {
    color: #c81623;
}

.shortcut .hr {
    float: right;
}

.shortcut .hr ul li {
    float: left;
    /* margin: 0 15px; */
    font: normal 400 12px/31px "SimSun";
}

.hr li:nth-child(2n) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 15px 0;
}

.shortcut .hr ul li a {
    color: #666666;
}

.shortcut .hr .icon::after {
    content: '\e7fc';
    font-family: "iconfont";
    margin-left: 7px;
}

/* 快捷导航模块结束 */
/* 头部区域开始 */
.header {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    height: 105px;
    width: 1200px;
}

.logo {
    float: left;
}

.logo h1 a {
    display: block;
    position: relative;
    top: 26px;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}

.header .search {
    float: left;
    position: absolute;
    top: 26px;
    left: 344px;
    border: 2px solid#b1191a;
    width: 538px;
    height: 36px;
}

.header .search input {
    float: left;
    height: 32px;
    width: 458px;
    border: 0;
    font: normal 400 14px/31px "MicrosoftYaHei";
    color: #666666
}

.header .search button {
    float: left;
    height: 32px;
    width: 76px;
    background-color: #b1191a;
    border: 0;
    outline: none;
    font: normal 400 16px/21px "MicrosoftYaHei";
    color: #ffffff;
}

.header .hotwords ul {
    position: absolute;
    top: 60px;
    left: 356px;
}

.header .hotwords ul li {
    float: left;
    font: normal 400 12px/31px "SinSun";
}

.header .hotwords ul li a {
    margin-left: 25px;
    color: #666666;
}

.header .hotwords .one {
    margin-left: 0;
    color: #c81623;
}

.header .shopcar {
    position: absolute;
    left: 995px;
    top: 25px;
    background-color: #f7f7f7;
    width: 140px;
    height: 36px;
    border: solid 1px #dfdfdf;
    font: normal 400 12px/31px "MicrosoftYaHei"
}

.header .shopcar::before {
    content: "\e65e";
    margin-left: 12px;
    font: normal 400 16px "iconfont";
    color: red;
}

.header .shopcar::after {
    content: "\e7fb";
    margin-left: 10px;
    font: normal 400 16px "iconfont";
    color: #999999;
}

.header .shopcar .count {
    position: absolute;
    top: -7px;
    right: 32px;
    float: left;
    width: 14px;
    background-color: #e60012;
    font: 12px "MicrosoftYaHei";
    color: #fefefe;
    padding: 0 3px;
    border-radius: 7px 7px 7px 0;
}

/* 头部区域结束 */
/* 尾部区域开始 */
.footer {
    position: absolute;
    top: 2400px;
    left: 50%;
    height: 417px;
    width: 1200px;
    margin-left: -600px;
}

.footer .footertop {
    height: 109px;
    border-bottom: 1px solid #ededed;
    padding-top: 30px;
}

.footer .footertop ul li {
    float: left;
    margin: 0 38px;
}

.footer .footertop .footertext {
    float: left;
    margin-left: 7px;
    margin-top: 7px;
}

.footer .footertop ul li h5 {
    float: left;
}

.footer .footertop .footertext h2 {
    font: normal 700 14px "MicrosoftYaHei";
    /* margin: 4.5px 0 4.5px 7px; */
    color: #333333;
}

.footer .footertop .footertext p {
    font: normal 400 12px "MicrosoftYaHei";
    color: #666666;
}

.footer .footerbottom {
    height: 187px;
    border-bottom: 1px solid #ededed;
}

.footer .footerbottom dl {
    float: left;
    margin: 18px 61px;
}


.footer .footerbottom dt {
    font: 16px/21px "MicrosoftYaHei";
    margin-bottom: 10px;
}

.footer .footerbottom dd {
    font: 12px/20px "MicrosoftYaHei";
}

.footer .footerbottom dd img {
    margin-left: -10px;
}

.footer .footerunder {
    margin-left: 99px;
    margin-top: 20px;
    float: left;
}

.footer .footerunder ul li {
    float: left;
    padding: 0 14px;
    font: normal 400 12px/15px "SimSun";
    border-right: 1px solid #666666;
}

.footer .footerunder ul li a {
    color: #666666;
}

#footerunderone {
    border-right: 0;
}

.footer .footerunderzero {
    float: left;
    text-align: center;
    margin-left: 238px;
    font: 12px/20px "MicrosoftYaHei";
}

/* 尾部区域结束 */