@font-face {
    font-family: "iconfont";
    /* Project id 4686366 */
    src: url('../font/iconfont.woff2?t=t=1726648074287') format('woff2'),
        url('./font/iconfont.woff?t=t=1726648074287') format('woff'),
        url('./font/iconfont.ttf?t=t=1726648074287') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* nav头部部分开始 */
.nav {
    position: absolute;
    top: 136px;
    height: 45px;
    left: 50%;
    margin-left: -600px;
    border-bottom: 2px solid #b1191a;
}

.nav .navleft {
    float: left;
    height: 45px;
    padding: 0 57px;
    font: 16px/45px "MicrosoftYaHei";
    background-color: #b1191a;
    color: #ffffff;
}

.nav .navright {
    float: left;
    height: 45px;
    margin-left: 30px;
}

.nav .navright ul li {
    float: left;
    margin: 0 30px;
    font: 16px/45px "MicrosoftYaHei";
    color: #333333;
}

/* nav头部部分开始 */
/* nav内容部分开始 */
.navcontent {
    position: absolute;
    top: 181px;
    left: 50%;
    margin-left: -600px;
}

.navcontent .dropdown {
    float: left;
    background-color: #c81623;
    width: 210px;
    height: 466px;
    border-left: 1px solid #c81623;
}

.navcontent .dropdown ul li {
    margin: 1.4px 0;
    text-indent: 10px;
    font: 14px/32px "MicrosoftYaHei";
}

.navcontent .dropdown ul li a {
    color: #ffffff;
}

.navcontent .dropdown ul li ::after {
    float: right;
    margin: 12px 6px 7px 0;
    content: "\e7fb";
    font: 12px "iconfont";
    color: #ffffff;
}

.navcontent .dropdown ul li:hover {
    background-color: #fff;
}

.navcontent .dropdown ul li:hover a {
    color: #c81623;
}

.navcontent .navmiddle {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 721px;
    height: 455px;
}

.navcontent .navitems {
    float: left;
    margin-left: 7px;
    margin-top: 10px;
    height: 454px;
    border: 1px solid #d4d4d4;
}

.navcontent .navitems dl {
    width: 250px;
    height: 164px;
    font: 12px "MicrosoftYaHei";
    border-bottom: 1px solid #d4d4d4;
    color: #666666;
}

.navcontent .navitems dt {
    text-indent: 16px;
    height: 32px;
    border-bottom: 1px dashed #d4d4d4;
    font: 14px/32px "MicrosoftYaHei";
}

.navcontent .navitems dt::after {
    content: "更多 \e7fb";
    font: 13px "iconfont";
    margin-left: 111px;
}

.navcontent .navitems dd {
    padding: 0 16px;
    margin-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navcontent .navitems dd span {
    font: normal 700 12px "MicrosoftYaHei";
}

.navcontent .navitemsmiddle {
    overflow: hidden;
    width: 250px;
}

.navcontent .navitemsmiddle ul li {
    float: left;
    width: 62.5px;
    height: 71px;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}

.navcontent .navitemsmiddle ul li i {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    width: 20px;
    height: 24px;
    background: url(/shopping/images/icons.png) no-repeat -19px -16px;
}

.navcontent .navitemsmiddle ul li p {
    font: 12px "MicrosoftYaHei";
    text-align: center;
    margin-top: 5px;
}

.navcontent .navitemsbottom {
    width: 250px;
    height: 75px;
    margin-top: 5px;
}

.navcontent .navitemsbottom img {
    width: 250px;
    height: 75px;
}

/* nav部分结束 */
/* recommend部分开始 */
.recommend {
    position: absolute;
    top: 660px;
    left: 50%;
    margin-left: -600px;
}

/* .recommend部分结束 */
/* 楼层部分开始 */
.floor {
    position: absolute;
    top: 848px;
    left: 50%;
    margin-left: -600px;
}


.floor .jiadian .boxhd {
    height: 27px;
    border-bottom: 2px solid #c81623;
}

.floor .jiadian .boxhdleft {
    float: left;
    margin-bottom: 6px;
    font: 18px/21px "MicrosoftYaHei";
    color: #c81623;
}

.floor .jiadian .boxhdright {
    float: right;
    margin-bottom: 6px;
    font: 12px/21px "MicrosoftYaHei";
    color: #999999;
}

.floor .jiadian .boxhdright ul li {
    float: left;
}

.floor .jiadian .boxhdright ul li a {
    margin: 0 15px;
    /* border-right: 1px solid #999999; */
}

.floor .jiadian .boxzt {
    height: 360px;
}

.floor .jiadian .boxztone {
    float: left;
    width: 209px;
    background-color: #f9f9f9;
}

.floor .jiadian .boxztonetop {
    float: left;
    height: 100px;
    padding: 0 6px;
}

.floor .jiadian .boxztonetop ul li {
    float: left;
    width: 85px;
    height: 34px;
    text-align: center;
    margin: 0 6px;
    padding: 0 auto;
    border-bottom: 1px solid #ededed;
}

.floor .jiadian .boxztonebottom img {
    margin: 26px 26px 33px 26px;
}

.floor .jiadian .boxzt .boxzttwo {
    float: left;
    width: 329px;
    height: 360px;
}

.floor .jiadian .boxzt .boxztthree {
    float: left;
    width: 219px;
    height: 360px;
    background-color: #f9f9f9;
}

.floor .jiadian .boxzt .boxztthreetop {
    float: left;
    width: 219px;
    height: 180px;
    padding-left: 18px;
    padding-top: 23px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.floor .jiadian .boxzt .boxztthreebottom {
    float: left;
    width: 219px;
    height: 180px;
    padding-left: 16px;
    padding-top: 20px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.floor .jiadian .boxzt .boxztfour {
    float: left;
    padding: 72px 22px 53px 22px;
    width: 224px;
    height: 360px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ededed;
}

.floor .jiadian .boxzt .boxztfive {
    float: left;
    width: 219px;
    height: 360px;
    background-color: #f9f9f9;
}

.floor .jiadian .boxzt .boxztfivetop {
    float: left;
    width: 220px;
    height: 180px;
    padding-left: 15px;
    padding-top: 23px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.floor .jiadian .boxzt .boxztfivebottom {
    float: left;
    width: 220px;
    height: 180px;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
}

.floor .jiadian .boxztbottom {
    margin-top: 20px;
    margin-bottom: 29px;
}