@font-face {
  font-family: "iconfont"; /* Project id 4686366 */
  src: url('iconfont.woff2?t=1726648074287') format('woff2'),
       url('iconfont.woff?t=1726648074287') format('woff'),
       url('iconfont.ttf?t=1726648074287') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
  content: "\e65e";
}

.icon-chevron-right:before {
  content: "\e7fb";
}

.icon-chevron-down:before {
  content: "\e7fc";
}

.icon-refresh-ccw:before {
  content: "\e809";
}

